<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
    <div class="container-fluid" id="alinhatexto">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quam optio totam corporis accusamus eius
            ipsum, ipsam, saepe dolor laudantium enim error earum mollitia cupiditate magni qui ratione molestias!
            Culpa!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut voluptatum culpa voluptatibus,
            molestias debitis itaque ipsum est sit tempora voluptas. Eligendi animi dolores quaerat quam repudiandae,
            iure recusandae velit!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias delectus id nulla deserunt aspernatur eaque
            nisi quae fuga! Perferendis dolor sed, libero ratione modi adipisci placeat cumque molestias est? Totam?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita ipsa dolor labore dignissimos? Obcaecati, debitis placeat. Placeat natus vel, obcaecati facere perferendis similique, quasi non, rem amet aperiam excepturi eos! 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam natus cum, quis, reprehenderit similique possimus repudiandae libero suscipit excepturi, alias perspiciatis officia. Atque neque distinctio minima a dicta esse odio.
        </p>






    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>